BODY {background: #180c7f url(img/dune.jpg) no-repeat; background-size: stretch;}
P {color:greenyellow; background: darkslategrey;}

#pika {max-width: 200px; height: auto; }
#zend {width: 200px}

.love {
  display: flex;
  justify-content: space-between; /* pushes items to opposite sides */
  align-items: bottom; /* optional: vertically center them */
  width: 100vw; /* full viewport width */
    height: 80vh;

  padding: 1rem; /* optional: spacing from edges */
}

.love > DIV {
display: flex;
  align-items: flex-end;
}

.infos {display: flex; gap: 20px; }
.infos DIV {background: #f9ff4b; padding: 10px;}
#array {background: #aaff7c;}
#char {background: #ff9bfc; border-radius: 20px;;}
